body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;

}

#busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina {
    margin: 10px 10px 10px 10px;
}

header {
    display: flex;
    border-width: 2;
    border-style: solid;
    width: 95%;
    margin-bottom: 0%;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 2%;
    border-width: 2;
    border-style: solid;
    width: 95%;
    margin-Top: 30%;
}
